services:
  web:
    image: odoo:18
    depends_on:
      - mydb
    ports:
      - "8070:8069"
    environment:
      - HOST=mydb
      - USER=odoo
      - PASSWORD=myodoo
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
  mydb:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=myodoo
      - POSTGRES_USER=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

  pgAdmin:
    image: dpage/pgadmin4
    depends_on:
      - mydb
    ports:
      - "8085:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: omiguezalonso@danielcastelao.org
      PGADMIN_DEFAULT_PASSWORD: admin
volumes:
  odoo-db-data:
  odoo-web-data:

# ayzz-387f-wz6q